@media screen and (min-height:800px){
    .bannerHide svg{bottom: -20%;}
    .climHome{width: 65%;}
    .moduleHome{top: 37%;}
}

@media screen and (min-height:950px){
    .bannerHide svg{bottom: -13%;}
    .afford svg{bottom: 10%;}
    .climHome{width: 75%;}
    .moduleHome{right: -100px;width: 35%;}
}

@media screen and (min-width:1440px){
    .bannerHide svg{bottom: -22%;}
    .climHome{width: 70%;}
    .moduleHome{top: 39%; right: -5%; width: 32%;}
    h1{font-size: 3em; line-height: 55px;}
    #catch p{font-size: 2em; line-height: 40px;}
    .pattern{width: 55px;}
    h2{font-size: 2.8em;}
    .titlepac{top: 100px;}
    .sub{font-size: 1.5em; line-height: 35px; margin-left: 80px;}
    .txt{width: 500px; font-size: 1.2em;line-height: 35px;margin-left: 80px;}
    #housepac{width: 55%;}
    .module img{margin-left:120px;}
    #brand img{max-width: 200px;}
    .notreHistoire{height: 400px; width: 500px;}
    .titreHist{font-size: 2.5em;}
    #presentation{margin:20px 20px 20px 70px;}
    #histImg{width: 40%; left:12%;}
    iframe{width: 600px; height: 400px;}
    #mailPhone{font-size: 1.2em; top: -38%;}
    #scrollTop{top: -10%;}
}

@media screen and (min-width:1680px){
    .bgPac{min-height: calc(100vh - 70px);}
    .module img{margin-left: 200px;}
    .desc{width: 700px; padding:60px 150px 60px 50px;}
    .climHome{left: 120px;}
    #catch{left: 120px;}
    h1{line-height: 65px;}
    #catch p{line-height: 50px;}
}

@media screen and (min-width:1920px){
    #housepac{width: 50%;}
    .txt{font-size: 1.4em; line-height: 38px;}
    .bannerHidePac svg{top: -2px;}
    .bgPac{min-height: calc(100vh - 80px);}
    .module img{margin-left: 250px;}
    .desc{width: 750px; padding:60px 200px 60px 50px;}
    .desc p{font-size: 1.2em; line-height: 28px;}
    #histImg{width: 30%; left: 14%;}
    .notreHistoire{width: 650px; height: 500px; left: 42%;}
    #presentation{margin: 40px 20px 20px 70px;}
    #presentation p{font-size: 1.3em; width: 470px; line-height: 33px;}
}

@media screen and (min-width:2560px){
    header{height: 100px;}
    #logo{width: 10%;}
    #nav{font-size: 1.5em;}
    #nav ul li{width: 350px;}
    #mail{width: 350px; font-size: 1.5em; line-height: 90px; border-top-left-radius: 50px; border-top-right-radius:50px;}
    #sticky{right: -130px;}
    .climHome{width: 65%; top: 18%;}
    .pattern{width: 75px;}
    h1{font-size: 4em; line-height: 85px;}
    #catch p{font-size: 3em; line-height: 70px;}
    .afford svg{width: 36px;}
    .bgPac{min-height: calc(75vh - 95px);}
    .bannerHidePac svg{width: 500px;}
    #housepac{width: 40%;}
    .digit.visible{left: 60%;}
    .module img{width: 15%;}
    .txt{width: 800px; font-size: 1.6em; line-height: 45px; margin-left: 100px;}
    .sub{font-size: 1.7em; line-height: 45px; margin-left: 100px;}
    .desc{width: 900px; padding: 70px 250px 70px 90px;}
    .desc h4{font-size: 1.9em;}
    .desc p{font-size: 1.6em; line-height: 45px;}
    .titleBrand{padding-top: 100px;}
    .notreHistoire{width: 900px; height: 650px;}
    #presentation{margin: 80px 20px 20px 120px;}
    h2{font-size: 3.8em;}
    .revealNumber{font-size: 7em;}
    #presentation p{font-size: 1.6em; line-height: 45px; width: 550px;}
    .items img{width: 135px;}
    #icon_ecolo{width: 110px;}
    h5{font-size: 2.5em;}
    .items p{font-size: 1.8em; line-height: 40px;}
    .titleQuali p{font-size: 1.8em;}
    .card{width: 400px; height: 480px;}
    .card p{font-size: 1.4em; line-height: 35px;}
    iframe{width: 1000px; height: 600px;}
    #map p{font-size: 1.5em; line-height: 35px;}
    #mailPhone{font-size: 1.7em;}
    #mailPhone img, #mailPhone svg{width: 60px; margin-right: 40px;}
    #phone{margin-bottom: 120px;}
    #scrollTop img{width: 100px;}
    #scrollTop{top: -5%;}
}

@media screen and (min-width:4096px){
    header{height: 200px;}
    #logo{width: 13%;}
    #nav{font-size: 2.3em;}
    #nav ul li{width: 450px;}
    #mail{width: 500px; line-height: 150px; font-size: 2em;border-top-left-radius: 70px; border-top-right-radius:70px;}
    #sticky{right: -180px;}
    .climHome{left: 250px;}
    .pattern{width: 150px; margin-bottom: 20px;}
    h1{font-size: 6em; line-height: 120px;}
    #catch{left: 250px;}
    #catch p{font-size: 4.5em; line-height: 100px;}
    .afford svg{width: 63px;}
    h2{font-size: 5em;}
    nav{margin: 100px 0;}
    nav ul li{width: 470px; margin: 0 45px;}
    nav p{line-height: 200px; font-size: 2em;}
    .downarrow{width: 40px;}
    nav ul ul li{width: 390px; padding: 40px;}
    nav ul ul{margin-left: -45px; font-size: 1.2em; top: 210px;}
    .bannerHidePac img{top: -4px;}
    .digit.visible{left: 50%;}
    .sub{font-size: 3.7em; line-height: 75px; margin-left: 170px;}
    .txt{width: 1500px; font-size: 3em; line-height: 70px; margin-left: 170px;}
    #flower{width: 8%;}
    .revealNumber{font-size: 11em;}
    .module img{margin-left: 18%;}
    .desc{width: 40%; padding: 150px 450px 150px 120px;}
    .desc h4{font-size: 3.5em;}
    .desc p{font-size: 2.5em; line-height: 70px;}
    #modules{margin: 200px 0 0 150px;}
    #brand img{max-width: 10%;}
    .titlePres{margin-top: 150px;}
    .notreHistoire{width: 1800px; height: 1200px;}
    .titreHist{font-size: 5em;}
    #presentation p{font-size: 3.5em; line-height: 70px; width: 1200px;}
    #presentation{margin: 180px 20px 20px 320px;}
    #histImg{margin-top: 250px;}
    #icon_ecolo{width: 150px;}
    .items img{width: 170px; margin-bottom: 50px;}
    h5{font-size: 5em;}
    .items p{font-size: 3em; line-height: 70px;}
    .titleQuali p{font-size: 3.5em; margin: 25px 20px;}
    .card{width: 860px; height: 950px;}
    #qualifications{margin-top: 140px;}
    .card p{font-size: 3em; line-height: 70px; margin: 0 70px;}
    .card img{margin: 50px 0;}
    #map{margin: 250px 10px 10px 250px;}
    iframe{width: 1600px; height: 1000px;}
    #map p{font-size: 3.5em; line-height: 70px;}
    #mailPhone{font-size: 3em;}
    #mailPhone img, #mailPhone svg{width: 85px;}
    #scrollTop img{width: 180px;}
    footer{font-size: 2em;}
}

@media screen and (height:1366px){
    .moduleHome{display: none;}
    .poly{display: none;}
    .climHome{top: 15%; left: 22%; width: 100%;}
    .pattern{width: 55px;}
    h1{font-size: 3em; line-height: 60px; margin-top: 15px;}
    #catch p{font-size: 2.2em; line-height: 45px;}
    .afford svg{width: 30px;}
    .bannerHide svg{bottom: -6%;}
    .bgPac{min-height: calc(70vh - 150px);}
    .digit.visible{left: 53%;}
    .titlepac{top: 120px;}
    .desc{width: 300px;}
    #histImg{left: 10%; width: 40%;}
    .notreHistoire{left: 47%;}
    iframe{width: 700px; height: 500px;}
    #map{margin: 150px 10px 10px 158px;}
    #mailPhone{top: 150px; left: 50%; transform: translateX(-50%); display: inline-block;font-size: 1.2em;}
    #map p{font-size: 1.2em; margin-top: 20px; line-height: 30px;}
    body{overflow-x:hidden;}
    #scrollTop{top: 15%;}
}

@media screen and (max-width:768px){
    body{overflow-x: hidden;}
    #logo{left: 20px;}
    #nav ul li{width: 120px;}
    .moduleHome{display: none;}
    .poly{display: none;}
    .climHome{left: 22%; width: 100%;}
    .pattern{width: 55px;}
    h1{font-size: 2.3em;line-height: 55px;}
    #catch p{font-size: 1.9em; line-height: 40px;}
    .afford svg{bottom: 6%;}
    .bannerHide svg{bottom: -9%;}
    nav ul li{width: 200px;}
    nav ul ul li{width: 180px;}
    nav p{font-size: .8em; line-height: 70px;}
    nav ul ul{top: 90px;}
    .bgPac{min-height:calc(80vh - 50px);}
    .bgPac h2{display: block; margin-left: 0;}
    .sub{margin-left: 0;}
    .txt{margin: 20px 0 0 0; width: 350px;}
    .titlepac{top: 100px;}
    .title{left: 50px;}
    .digit.visible{top: 250px;}
    #modules{margin: 80px 0 0 50px}
    .desc{width: 250px; padding: 30px 80px 30px 40px;}
    .desc p{font-size: .8em; line-height: 20px;}
    .revealNumber{font-size: 4em; width: 40px;}
    .module img{width: 180px;}
    #brand img{max-width: 100px;}
    #histImg{width: 38%; left: 8%; margin-top: 150px;}
    .notreHistoire{left: 40%; width: 350px; height: 300px;}
    #presentation{margin: 0 20px 20px 40px;}
    #presentation p{width: 300px; font-size: .8em; line-height: 20px;}
    #valeurs{margin: 120px 50px 0 50px;}
    #icon_ecolo{width: 50px;}
    .items p{font-size: .8em; line-height: 20px;}
    .items img{width: 65px;}
    #icon_prox{margin-top: 10px;}
    .titleQuali{margin-top: 80px;}
    #qualifications{margin: 50px;}
    .card p{font-size: .9em; line-height: 22px; margin: 0 20px;}
    .card{width: 200px; height: 350px;}
    #mailPhone{top: 50px; left: 30%;}
    #scrollTop{top: 8%;}
    iframe{width: 500px; height: 300px;}
    #map{margin: 150px 10px 10px 148px;}
}

@media screen and (max-width:480px){
    #logo{display: none;}
    #logo_resp{display: inline-block;}
    #catch{top: 38%; left: 50px;}
    .pattern{width: 45px;}
    h1{font-size: 2em; line-height: 45px;}
    #catch p{font-size: 1.5em; line-height: 35px;}
    .bannerHide svg{bottom: -4%;}
    nav{margin: 50px;}
    .chauf_list{top: 182px;}
    .vent_list{top: 272px;}
    .title{left: 35px;}
    .titlepac{top: 50px;}
    .bgPac{min-height: calc(120vh - 50px);}
    .bannerHidePac img{display: none;}
    .bgPac h2{width: 220px; line-height: 40px;}
    .sub{width: 260px; font-size: 1.1em;}
    .digit.visible{top: 350px; left: 58%;}
    .txt{width: 260px;}
    #modules{margin: 80px 0 0 20px;}
    .revealNumber{font-size: 4em;}
    #brand img{margin: 10px;}
    #brand{padding: 50px 20px;}
    #histImg{margin: 20px 0 0 100px;}
    .notreHistoire{left: 50%; transform: translateX(-50%); top: 110px;}
    #presentation{margin: 20px 20px 20px 40px;}
    #valeurs{margin: 150px 20px 0 20px;}
    #icon_ecolo{width: 40px; margin-bottom: 30px;}
    h5{font-size: 1.3em;}
    .items p{width: 110px;}
    .items img{width: 55px;}
    #qualifications{margin: 40px; flex-wrap: wrap;}
    .card{width: 350px; height: 250px; margin-bottom: 25px;}
    .card img{width: 20%; margin: 30px 0 20px 0;}
    .titleContact .sub{width: 350px;}
    #map{margin: 150px 10px 10px 40px;}
    iframe{width: 400px; height: 300px;}
    #phone{margin-bottom: 40px;}
    #mailPhone{left: 15%;}
    #scrollTop{left: 85%;}
    footer{font-size: .6em;}
}

@media screen and (max-width:414px){
    #mail{width: 200px; font-size: .9em; line-height: 50px; font-weight: 300;}
    #sticky{right: -80px;}
    #logo_resp{width: 10%; margin: 9px;}
    #nav{font-size: .8em;}
    #nav ul li{width: 110px;}
    h1{line-height: 40px; font-size: 1.8em;}
    #catch{left: 40px;}
    .bannerHide svg{bottom: -5%;}
    #catch p{font-size: 1.3em;}
    .afford svg{bottom: 5%; width: 18px;}
    .bgPac h2{width: 320px;}
    .txt{width: 300px;}
    .digit.visible{top: 90px; left: 60%;}
    #housepac{width: 45%;}
    #flower{width: 40px; top: 20px;}
    .desc{padding: 30px 50px 30px 30px; width: 230px;}
    .revealNumber{font-size: 2.8em;}
    #modules{margin: 80px 0 0 15px;}
    .notreHistoire{width: 300px; padding: 20px;}
    #presentation{margin: 15px;}
    #valeurs{flex-wrap: wrap; margin: 130px 50px 0 50px}
    .items p{width: 200px; margin-bottom: 30px;}
    h5{margin-bottom: 5px;}
    #icon_ecolo{width: 30px;margin-bottom: 20px;}
    .items img{width: 45px;}
    .titleQuali{margin-top: 50px;}
    .pattern{margin-bottom: 15px;}
    .titleQuali p{font-size: 1em;}
    #qualifications{margin: 20px;}
    iframe{width: 350px; height: 250px;}
    #map{margin: 130px 10px 10px 30px;}
    #phone{margin-bottom: 20px;}
    #mailPhone{top: 25px; left: 12%;}
    #mailPhone img, #mailPhone svg{width: 30px;}
    #scrollTop{left: 80%;}
}

@media screen and (max-width:384px){
    #nav ul{margin-left: 20px;}
    .pattern{width: 35px;}
    h1{font-size: 1.5em; width: 300px; line-height: 35px;}
    #subcatch{width: 300px;}
    #catch p{font-size: 1.1em; line-height: 30px;}
    #housepac{width: 40%;}
    .digit.visible{left: 65%;}
    .titlepac{top: 30px;}
    .sub{width: 240px; font-size: 1em;}
    .desc h4{font-size: 1.3em; margin-bottom: 10px;}
    .desc{padding: 20px;}
    .desc p{width: 200px;}
    h2{font-size: 2em; margin-left:10px;}
    .module{margin-bottom: 80px;}
    iframe{width: 300px; height: 200px;}
    #map{margin: 120px 10px 10px 35px;}
    #mailPhone img, #mailPhone svg{width: 20px;}
    #mailPhone{font-size: .8em;}
    #rge_logo{width: 35%;}
    .titleContact .sub{width: 300px;}
}

@media screen and (max-width:360px){
    #nav{font-size: .7em;}
    #nav ul li{width: 100px;}
    #nav ul{margin-left: 25px;}
    #catch{left: 30px;}
    .title{left: 30px;}
    .bgPac{min-height: calc(130vh - 10px);}
    #histImg{width: 48%; margin: 20px 0 0 65px;}
    .titleQuali p{margin:5px 10px;}
}

@media screen and (max-width:320px){
    header{height: 52px;}
    #subcatch{width: 280px;}
    .bannerHide svg{bottom: -7%;}
    #nav ul li{width: 80px;}
    .climHome{width: 90%; top: 18%;}
    #mail{width: 140px; font-size: .6em; line-height: 40px;}
    #sticky{right: -55px; top: 25%;}
    .pattern{width: 30px;}
    h1{font-size: 1.1em; line-height: 25px; width: 200px;}
    #catch{top: 40%;}
    #catch p{font-size: .9em; line-height: 25px;}
    h2{font-size: 1.6em;}
    .bgPac h2{width: 290px;}
    .sub{font-size: .9em; line-height: 23px;}
    .digit.visible{top: 30px;}
    .title{left: 20px;}
    .txt{width: 260px; font-size: .8em; line-height: 22px;}
    .desc h4{font-size: 1.1em;}
    .desc p{font-size: .7em; line-height: 18px;}
    .module img{width: 140px;}
    .desc{width: 200px;}
    .revealNumber{font-size: 2em;}
    nav{margin: 20px 50px;}
    #presentation p{width: 250px;}
    .titleQuali p{margin: 5px 20px; font-size: .9em; }
    .card p{font-size: .7em;line-height: 18px;}
    .card img{width: 15%; margin: 15px 0 10px 0;}
    #rge_logo{width: 30%;}
    .card{height: 165px;}
    .titleContact{top: 50px;}
    .titleContact .sub{width: 260px;}
    iframe{width: 250px; height: 160px;}
    #map{margin: 80px 10px 10px 35px;}
    #map p{font-size: .7em; line-height: 18px;}
    #mailPhone{top: 20px; left: 8%;}
    #phone{margin-bottom: 10px;}
    #scrollTop img{width: 40px;}
    #scrollTop{top: 7%;}
}